@page
@model ComprobarModel
@{
    ViewData["Title"] = "Comprobar";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<h2 style="color: azure">Este es un titulo de ejemplo</h2>

<p>The time is @DateTime.Now.ToString()</p>


